<h1>{{ title }}</h1>
<table>
  <tr>
    <td><img src="../assets/leftpanel.jpg" height="580px" /></td>
    <td><display-enemy-grid></display-enemy-grid></td>
    <td><img src="../assets/rightpanel.jpg" height="580px" /></td>
  </tr>
  <tr>
    <td></td>
    <td class="dashpanel">
      <button>Button</button>
    </td>
    <td></td>
  </tr>
  <tr>
    <td><img src="../assets/leftpanel.jpg" height="580px" /></td>
    <td>
      <display-my-grid></display-my-grid>
    </td>
    <td><img src="../assets/rightpanel.jpg" height="580px" /></td>
  </tr>
</table>
