<h1 class="font-effect-anaglyph">{{ title }}</h1>

<table>
  <tr>
    <td colspan="3"><span cdkOverlayOrigin #displayTurnChange="cdkOverlayOrigin"></span><span cdkOverlayOrigin #displayGameOver="cdkOverlayOrigin"></span></td>
  </tr>
  <tr class="mapTr">
    <td><img src="../assets/leftpanel.jpg" height="580px" /></td>
    <td class="mapTd">
      <div class="mapContainer" [@slide]="userTurn" style="max-height: 580px;">
        <display-enemy-grid #targetGrid (targeted)="onTargeted($event)" (myTurnOverFromPlayer)="onTurnOver($event)" (gameOverPlayerWon)="showWinner($event)" [MyTurn]="userTurn"></display-enemy-grid>
        <display-my-grid (myTurnOverFromPlayer)="onTurnOver($event)" (gameOverPlayerWon)="showWinner($event)" [MyTurn]="cpuTurn"></display-my-grid>
      </div>
    </td>
    <td><img src="../assets/rightpanel.jpg" height="580px" /></td>
  </tr>
  <tr>
    <td></td>
    <td class="dashpanel">
      <input *ngIf="!targeted || !userTurn" id="fireButtonInactive" type="image" src="../assets/fireInactive.gif" class="right clearfix" disabled="disabled" />
      <input *ngIf="userTurn && targeted" id="confirmFire" type="image" src="../assets/confirm.gif" class="right clearfix" (click)="targetGrid.fire()" />
    </td>
    <td></td>
  </tr>
</table>

<ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="displayTurnChange" [cdkConnectedOverlayOpen]="showOverlay">
  <div class="turnOverlay" [@slideOverlayInOut]>
    <img src="../assets/transparentGif.gif" class="overlaySpacerGif" /><br />
    <table class="overlayTableBackground">
      <tr>
        <td>
          <img src="../assets/transparentGif.gif" /><br />
          <img src="../assets/transparentGif.gif" /><br />
          <h1><i>{{ (userTurn ? "YOUR" : "ENEMY'S") }} TURN TO FIRE</i></h1>
          <img src="../assets/transparentGif.gif" /><br />
          <img src="../assets/transparentGif.gif" />
        </td>
      </tr>
    </table>
    <img src="../assets/transparentGif.gif" class="overlaySpacerGif" /><br />
  </div>
</ng-template>

<ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="displayGameOver" [cdkConnectedOverlayOpen]="winnerIsPlayer !== undefined">
  <div class="turnOverlay" [@slideOverlayInOut]>
    <img src="../assets/transparentGif.gif" class="overlaySpacerGif" /><br />
    <table class="overlayTableBackground">
      <tr>
        <td>
          <img src="../assets/transparentGif.gif" /><br />
          <img src="../assets/transparentGif.gif" /><br />
          <h1>{{ (winnerIsPlayer ? "You Won!" : "Your enemy prevailed.") }}</h1>
          <h3><span>Refresh page to play again.</span></h3><br />
          <img src="../assets/transparentGif.gif" />
        </td>
      </tr>
    </table>
    <img src="../assets/transparentGif.gif" class="overlaySpacerGif" /><br />
  </div>
</ng-template>
