h1 {
  color: #222;
  font-family: 'Black Ops One', 'Bernard MT', Arial, Helvetica, sans-serif;
  font-size: 250%;
  align-content: center;
  text-align: center;
}

table {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 0px 0px 0px 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  border: 0px;
  border-collapse: collapse;
  border-spacing: 0px;
}

.mapTr {
  overflow: hidden;
}

.mapTd {
    overflow: hidden;
}

.mapContainer {
  height: 100%;
  width: 100%;
}

.myShipsTd {
  width: 450px;
  overflow: hidden;
  background-image: url(../assets/greenBackground.gif);
  color: #222;
  font-family: 'Black Ops One', 'Bernard MT', Arial, Helvetica, sans-serif;
  font-size: 250%;
  align-content: center;
  text-align: center;
}

.enemyShipsTd {
  width: 450px;
  overflow: hidden;
  background-image: url(../assets/sepiaBackground.gif);
  color: #222;
  font-family: 'Black Ops One', 'Bernard MT', Arial, Helvetica, sans-serif;
  font-size: 250%;
  align-content: center;
  text-align: center;
}

.dashpanel {
    align-content: end;
    background-image: url(../assets/dashpanel.gif);
    background-size: cover;
}

.right {
    float: right;
    width: 103px;
    border: none;
    padding-top: 1em;
    padding-bottom: 1em;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.turnOverlay { /* operates properly with pixel specification of width, but not how i want it to look */
  width: 1482px;
  float: left;
  text-align: center;
}

.overlayTableBackground {
  background-color: gainsboro;
  width: 100%;
  padding: 0px 0px 0px 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  border: 0px;
  border-collapse: collapse;
  border-spacing: 0px;
}

.overlaySpacerGif {
    height: 42px;
}

.statusTrMyShips {
  background-image: url(../assets/statusGreen.jpg);
  background-size: contain;
  width: 450px;
}

.statusTrEnemyShips {
  background-image: url(../assets/statusSepia.gif);
  background-size: contain;
  width: 450px;
}


.sunkDivBattleship {

}

.sunkDivCarrier {

}

.sunkDivSub {

}

.sunkDivCruiser {

}

.sunkDivDestroyer {

}
