<table class="mybg">
  <tr *ngFor="let seaRow of SeaGrid; let rowIndex=index">
    <td *ngFor="let shot of seaRow; let shotIndex=index">
      <div *ngIf="GetShipToDisplay(shotIndex, rowIndex) === '' && shot === undefined" class="shotDiv">
        <img src="../../assets/transparentGif.gif" class="openShot" />
      </div>
      <div *ngIf="ShipToDisplay !== '' && RotateShipToDisplay === true" class="rotate">
        <img src="{{ShipImage}}" class="{{ShipToDisplay}}" />
      </div>
      <div *ngIf="ShipToDisplay !== '' && RotateShipToDisplay === false" class="norotate">
        <img src="{{ShipImage}}" class="{{ShipToDisplay}}" />
      </div>
      <div *ngIf="shot === true" class="explosionDiv">
        <img src="../../assets/burningHit.gif" class="explosion" />
      </div>
    </td>
  </tr>
</table>
