body {
}

.mybg {
  margin-left: auto;
  margin-right: auto;
  background-image: url(../../assets/sofyapestovaSQUAREsmall.jpg);
  position:relative;
  z-index: -1;
}

.shotDiv {
  position: relative;
  width: 60px;
  height: 60px;
  z-index: 0;
}

.openShot {
  width: 100%;
  position: absolute;
}

.rotate {
  transform: rotate(90deg);
  position: relative;
}

.norotate {
  transform: rotate(0deg);
  position: relative;
}

.Submarine {
  position: absolute;
  width: 450%;
  z-index: 0;
  transform: translateX(-25px) translateY(-57px);
}

.Destroyer {
  background-image: url(../../assets/ship-destroyer.gif);
}

.Cruiser {
  background-image: url(../../assets/ship-cruiser.gif);
}

.Battleship {
  background-image: url(../../assets/ship-battleship.gif);
}

.Carrier {
  background-image: url(../../assets/ship-carrier.gif);
}

.explosion {
  position: relative;
  width: 60px;
  height: 60px;
}
